# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea

# Misc
# Commenting this out from the gitignore is required to make table of contents work correctly 
#assets/js/dist

# Mac moment 
.DS_Store
*/.DS_Store
